$primary-color: #007bff;
$secondary-color: #6c757d;
$white-color: #fff;

button {
    background-color: $primary-color;
    color: $white-color;
}

button:hover {
    background-color: $secondary-color;
    color: $white-color;
}